<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <title>Ostoslista</title>
    </head>
    <body>
        <div class="container">
                <h1 class="mb-4 float-left">Ostoslistat</h1>
                <a href="/kirjauduUlos" class="btn btn-secondary float-right mt-3">Kirjaudu ulos</a>
            
            <table class="table table-bordered">
                <tbody>
                <%tiedot.forEach((tieto)=>{
                    if(jaettava == tieto.id){%>
                    
                    <tr>
                        <td>
                            <h3 class="text-primary"><%=tieto.nimi%></h3>
                        </td>
                        <td>
                            <form method="POST" action="/jaaLista" class="needs-validation" novalidate>
                                <input type="text" name="kuka" class="form-control w-50 float-left" placeholder="Käyttäjän nimi" required>
                                <input type="hidden" name="lista" value="<%=tieto.id%>">
                                <input type="submit" value="Jaa lista" class="btn btn-info float-right mr-2">
                            </form>
                        </td>
                        <td>
                            <a href="/" class="btn btn-warning">Peruuta</a>
                        </td>
                    </tr>
                    <%}
                    else{%>
                    <tr>
                        <td>
                            <h3 class="text-primary"><%=tieto.nimi%></h3>
                        </td><td>
                        </td>
                        <td></td>
                    </tr>
                <%}});%>
                </tbody>
            </table>
            
        </div>
    </body>
    
    <script>
 //https://getbootstrap.com/docs/4.2/components/forms/#validation
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
</script>
</html>